/* 1. Body Default CSS
/*-------------------------------------------------*/

html,
body {
    height: 100%;
    font-family: 'Muli', sans-serif;
}

a:focus {
    outline: 0 solid;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0 0 15px;
    line-height: 26px;
    font-size: 17px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0 0;
}

a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

a:hover {
    color: #FFA47B;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0 none;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0
}

i {
    font-family: fontawesome;
}


/*1.1 ajax preloading > #preloader*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99999;
    height: 100%;
}

#status {
    position: absolute;
    left: 50%;
    top: 45%;
    width: 150px;
    height: 150px;
    margin: -32px 0 0 -32px;
    padding: 0;
    transform: translateX(-50%)
}

#status img {
    height: 120px;
    width: 120px;
}

.dropdown-menu {
  background-color: #2c3e50;
}


/* =========================================================
        Client-Section STYLE
============================================================ */
.client-section {
    background-color: #fff;
    padding: 50px 0;
}

.client-section .client-carousel img {
    width: auto;
    margin: 0 auto;
}
/*1.2 about > .portion-heading*/

.portion-heading h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    color: #2c3e50;
    padding-bottom: 25px;
    font-size: 25px;
}


/*1.3 services + skill + work +contact > .section-title*/

.section-title h4 {
    text-transform: uppercase;
    font-size: 25px;
    color: #2c3e50;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 40px;
}


/*1.4 scroll to up > #scrollUp*/

#scrollUp {
    background: #FFA47B none repeat scroll 0 0;
    border-radius: 5px;
    bottom: 95px;
    color: #fff;
    display: none;
    font-size: 28px;
    padding: 4px 13px;
    right: 15px;
    text-align: center;
}


/*  2. Header Menu > .main-navigation
/*----------------------------------------------------*/

.main-navigation {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(255, 132, 72, .5);
    z-index: 11
}


/*2.1 header log > .logo-area*/

.logo-area a img {
    height: 55px;
    margin-top: 10px;
    display: inline-block;
    transition: .7s;
}


/*2.2 all menu style area */


/*2.2.1 mainmenu > .menuabr*/

.menubar nav ul li {
    display: inline-block;
    line-height: 50px;
    margin-right: -10px;
}

.menubar nav ul li a {
    color: #fff;
    display: inline-block;
    padding: 12px 15px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    text-decoration: none;
    transition: .7s;
}

.menubar nav ul li a:before {
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #fff;
    width: 70%;
    top: 100%;
    content: "";
    transition: .5s;
    right: 0;
    bottom: 0;
    display: block;
    margin: 0 auto;
    visibility: hidden;
    opacity: 0;
}

.menubar nav ul li a:hover:before {
    top: 70%;
    opacity: 1;
    visibility: visible;
}


/*2.2.2 stickymenu > .sticky*/

.main-navigation.sticky {
    background-color: #DC5100;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99999;
}

.sticky .menubar nav ul li a {
    padding: 6px 15px;
}

.sticky .logo-area a img {
    height: 45px;
}


/*2.2.3 slickmenu > .slicknav_menu*/

.slicknav_menu {
    display: none;
}

.slicknav_btn {
    border-radius: 0;
    background-color: transparent;
    padding: 8px 10px;
    transition: .7s;
}

.slicknav_nav li {
    display: block;
    margin-bottom: 1px;
    background-color: #DC5100
}

.slicknav_nav a {
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 28px;
    margin: 0;
}

.slicknav_menu .slicknav_icon {
    width: 25px;
    height: 18px;
}

.slicknav_nav a:hover {
    border-radius: 0;
    background: #FFA47B;
    color: #fff;
}


/*  3. Header Image > .header-image-area
/*--------------------------------------------------*/

.header-image-area {
    background-image: url("img/space_bg.jpg");
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: relative;
}


/*3.1. header image content > .intro-text*/

.intro-text {
    text-align: center;
    position: absolute;
    left: 0;
    top: 42%;
    right: 0;
    margin: auto;
}

.intro-text h1 {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 3px;
    color: #fff;
    margin-bottom: 30px;
    font-weight: 700
}

.intro-text h3 {
    text-transform: uppercase;
    font-size: 27px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 600;
}

.intro-text h3 span {
    text-transform: uppercase;
    font-size: 27px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 600;
}


/*3.2. typing animation > .typed-cursor*/

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*3.3. action button > .learnmore*/

.learnmore {
    margin-top: 70px
}

.learnmore a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #fff;
    transition: .5s;
}

.learnmore a:hover {
    background-color: #fff;
    color: #FFA47B;
}


/*  4. About Content > .about-area
/*--------------------------------------*/

.about-area {
    padding: 80px 0;
}

.portion-contact-info {
    padding-top: 20px
}

.social-link,
.resume-btn {
    display: inline-block;
}


/*4.1 social image > .social-link*/

.social-link a i {
    border: 1px solid #FFA47B;
    padding: 11px 12px;
    color: #FFA47B;
    text-decoration: none;
    margin-right: 6px;
    transition: .5s;
    font-size: 16px;
}

.social-link a i:hover {
    background-color: #FFA47B;
    color: #fff;
    border: 1px solid transparent;
}


/*4.2 resume download > .resume-btn*/

.resume-btn a {
    background-color: #FFA47B;
    color: #fff;
    text-transform: uppercase;
    padding: 11px 12px;
    font-weight: 300;
    transition: .5s;
    display: inline-block;
    text-decoration: none;
}

.resume-btn a i {
    font-size: 16px
}

.resume-btn a:hover {
    background-color: #DC5100
}


/*  5. Services Box > .main-service
/*----------------------------------------------*/

.main-service {
    background-image: url("img/service.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0;
}


/*5.1 service box > .single-service*/

.single-service {
    text-align: center;
    background-color: #fff;
    padding: 20px 25px;
    box-sizing: border-box;
    transition: .5s;
    box-shadow: 0 8px 6px -5px #FFA47B;
    height: 220px;
    margin-top: 30px;
}

.single-service:hover h5 {
    color: #FFA47B;
}

.single-service:hover {
    border-radius: 20px 0 20px 0;
    box-shadow: 0 -8px 6px -5px #FFA47B, 0 8px 6px -5px #FFA47B;
}


/*5.2 fontawesome icon > .service-icon*/

.service-icon {
    padding-bottom: 20px;
}

.service-icon i {
    padding: 17px 17px;
    font-size: 25px;
    border-radius: 50%;
    background-color: #FFA47B;
    color: #fff
}


/*5.3 content details > .service-content*/

.service-content h5 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: #2c3e50;
    transition: .5s;
    padding-bottom: 15px;
}


/*  6. Skill Circle > .skill-item
/*----------------------------------*/

.main-skill-area {
    padding: 80px 0;
}

#demo-1,
#demo-2,
#demo-3,
#demo-4 {
    margin: auto;
    display: block;
}

.skill-item h5 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 15px;
}


/*  7. Work Experience Box > .experience
/*-------------------------------------------------------*/

.experience {
    background-image: url("img/ny-city.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0;
}


/*7.1 .experience-content*/

.experience-content {
    background-color: #fff;
    padding: 20px 25px;
    transition: .5s;
    box-shadow: 0 8px 6px -5px #FFA47B;
    margin-top: 30px;
}

.experience-content h6 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: #FFA47B;
    transition: .5s;
    padding-bottom: 15px;
}

.experience-content p.range {
    text-transform: uppercase;
    font-weight: 300;
    color: #2c3e50
}

.experience-content p.range span {
    color: #FFA47B;
    transition: .5s;
}

.experience-content:hover p.range {
    color: #FFA47B
}

.experience-content:hover {
    border-radius: 20px 0 20px 0;
    box-shadow: 0 -8px 6px -5px #FFA47B, 0 8px 6px -5px #FFA47B;
}


/* 8. Testimonial Owl Slider > .testimonial-area
/*-----------------------------------------------*/

.testimonial-area {
    padding: 80px 0;
}

.testimonial-area .owl-demo .full-w {
    width: 100%;
    display: block
}


/*8.1 owl carousel bg > .owl-theme*/

.owl-theme .owl-controls .owl-page span {
    background: #FFA47B none repeat scroll 0 0;
    border-radius: 0;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

.item {
    text-align: center;
    background-color: #FFA47B;
    color: #fff;
    padding: 20px 25px
}


/*8.2 slider client > .client-img + .client-identity*/

.client-img img {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
}

.client-identity p.name {
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 600;
}

.client-identity p.profession {
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 300;
}


/*  9. Contact Form Info > .contact-area
/*------------------------------------------------*/

.contact-area {
    background: url("img/map.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0;
}

.contact-area .padding-reduce {
    padding-right: 0!important
}


/*9.1 contact form > .form-control*/

.form-control {
    height: 60px;
    color: #2c3e50;
    border: none;
    border-radius: 0;
}


/*9.2 send button > .submit-btn*/

.submit-btn {
    text-align: center
}

.submit-btn #send {
    background-color: #FFA47B;
    color: #fff;
    border: none;
    padding: 15px 90px;
    text-transform: uppercase;
    display: inline-block;
    transition: .5s;
}

.submit-btn #send:hover {
    background-color: #DC5100;
    cursor: pointer;
}


/*9.3 contact address > .contact-info*/

.contact-info h5 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: #2c3e50;
    transition: .5s;
    padding-bottom: 15px;
}



.btn-cta{
    background:none;
    color:#fff;
    width:80px;
     
       height: 100%;
    font-family: 'Muli', sans-serif;

}
select > option{
        background-color: #2c3e50;
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 25px;
    font-size: 16px;
}

address a {
    font-weight: 600;
}


/*  10. Footer / .main-footer + .copyright-text
/*----------------------------------------------*/

.main-footer {
    background-color: #FFA47B;
    padding: 15px 0;
}

.copyright-text p {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 17px;
}


/*  CSS END
/*----------------------------------------*/
